<template lang="html">
    <div class="chat-input">
        <input type="text" class="form-control" placeholder="Your message" v-model="messageText" @keyup.enter="sendMessage">
        <button class="btn btn-primary" @click="sendMessage">Send</button>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                messageText: '',
            };
        },
        methods:{
            sendMessage(){
                if(this.messageText !== '') {
                    console.log(this.messageText);
                    console.log(users);
                    axios.post('message', {
                        'message': this.messageText,
                        'users': users
                    }).then(function() {
                        $('#form-vue').hide();
                        alert('Done!');
                    });
                    this.messageText = '';
                }
            }
        }
    }
</script>
