<template>
    <table class="table table-hover table-bordered">
        <tbody>
        <tr>
            <th class="text-center" style="width: 50px">IDs</th>
            <th>{{ lang('Name') }}</th>
            <th>{{ lang('Description') }}</th>
            <th>{{ lang('Factory') }}</th>
            <th>{{ lang('Factory Number') }}</th>
            <th width="100px">{{ lang('Price (IN)') }}</th>
            <th width="100px">{{ lang('Price (OUT)') }}</th>
            <th width="100px">{{ lang('Lifting') }}</th>
            <th width="100px">{{ lang('Assembly') }}</th>
            <th width="125" class="text-center">{{ lang('Status') }}</th>
        </tr>

        <tr v-for="item in items" :key="item.id">
            <td class="text-center">
                <a :href="'/orders?id=' + item.order.id" title="Go to Order">{{ item.order.id }}</a>-{{ item.id }}
            </td>
            <td>{{ item.name }}</td>
            <td>
                <textarea class="form-control" @input="input(item.id, 'description', $event.target.value)">{{ item.description }}</textarea>
            </td>
            <td>{{ item.factory.name }}</td>
            <td>
                <input type="text" class="form-control" v-bind:value="item.factory_number" @input="input(item.id, 'factory_number', $event.target.value)">
            </td>
            <td>
                <input class="form-control" type="number" min="0" v-bind:value="item.price_in" @input="input(item.id, 'price_in', $event.target.value)">
            </td>
            <td>{{ item.price_out }}</td>
            <td>{{ item.lifting }}</td>
            <td>{{ item.assembly }}</td>
            <td class="text-center">
                <select class="form-control" @change="itemStatus(item.id, $event)">
                    <option v-bind:value="item.status">{{ lang(item.status_verbal) }}</option>
                    <option v-for="(verbal, status) in statuses"
                            v-if="item.status !== status"
                            :key="status"
                            v-bind:value="status"
                    >{{ lang(verbal) }}
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</template>I

<script>
    export default {
        props: ['statuses', 'dict'],
        data() {
            return {
                items: [],
                timeout: null,
            }
        },

        created() {
            let urlParams = new URLSearchParams(window.location.search);

            axios.get('items/ax?data=true&' + urlParams.toString()).then(response => {
                this.items = response.data.items.data;

                this.$emit('set-data', response.data);
            })
        },

        methods: {
            lang(key) {
                return this.dict[key];
            },

            itemStatus(id, event) {
                let uri = '/items/ax/status/' + id;
                axios.post(uri, {'status':event.target.value})
                    .then(response => {
                        this.$emit('alert', response.data.message);
                    }).catch(error => {
                        console.log(error);
                        alert('Error! Please tell admin.');
                    });
            },

            query(param) {
                let urlParams = new URLSearchParams(window.location.search);
                urlParams.set(param.name, param.value);

                axios.get('/items/ax?' + urlParams.toString()).then(response => {
                    this.items = response.data.items.data;

                    if (param.name !== 'page') {
                        urlParams.delete('page');
                    }
                    history.replaceState(null, null, location.pathname + '?' + urlParams.toString());
                    this.$emit('set-pagination', response.data.items);
                }).catch(error => {
                    console.log(error);
                    alert('Error! Please tell admin.');
                });
            },


            input(id, field, value) {
                clearTimeout(this.timeout);

                c
                this.timeout = setTimeout(function () {
                    _this.update(id, field, value);
                }, 1000);
            },

            update(id, field, value) {
                let data = {};
                data[field] = value;
                axios.post('items/ax/' + id, data)
                    .then(response => {
                        this.$emit('alert', response.data.message);
                    }).catch(error => {
                        console.log(error);
                        alert('Error! Please tell admin.');
                    });
            }
        }
    }
</script>