<template>
    <transition name="fade" mode="in-out">
        <div class="alert alert-success alert-note" v-show="alert.show">
            {{ alert.message }}
        </div>
    </transition>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.4s ease;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .alert-note {
        position: fixed;
        top: 34px;
        right: 44px;
    }
</style>

<script>
    export default {
        data() {
            return {
                alert: {
                    message: null,
                    show: false
                }
            }
        },

        methods: {
            show: function (message) {
                this.alert.message = message;
                this.alert.show = true;
                setTimeout(() => {
                    this.alert.show = false;
                }, 2000);
            },
        }
    }
</script>