<template>
    <div class="pull-right">
        <a href="/orders/create" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></a>

        <div class="btn-group">
            <button class="btn btn-default" @click="query({name: 'filter', value:'newest'})">{{ lang('Newest') }}</button>
            <button class="btn btn-warning" @click="query({name: 'filter', value:'week'})">{{ lang('One week left') }}</button>
            <button class="btn btn-danger" @click="query({name: 'filter', value:'overdue'})">{{ lang('Overdue') }}</button>
        </div>

        <div class="pull-right m-l-5 m-t--4">
            <select class="form-control form-c-h-32 w-135 disp-inl-bl" @change="query({name: 'status', value: $event.target.value})">
                <option value="">{{ lang('Status...') }}</option>
                <option v-for="(verbal, status) in statuses"
                        :key="status"
                        v-bind:value="verbal"
                >{{ lang(verbal) }}
                </option>
            </select>

            <select class="form-control form-c-h-32 w-135 disp-inl-bl" @change="query({name: 'tracklist', value: $event.target.value})">
                <option value="">{{ lang('Tracklist...') }}</option>
                <option v-for="tracklist in tracklists"
                        :key="tracklist.id"
                        v-bind:value="tracklist.id"
                >{{ tracklist.date_track }} {{ tracklist.name }}
                </option>
            </select>

            <input
                    type="text"
                    class="form-control form-c-h-32 phone w-135 disp-inl-bl"
                    name="phone"
                    v-bind:placeholder="lang('Phone')"
                    v-on:keyup.enter="query({name: 'phone', value: $event.target.value})"
            >

            <input
                    type="text"
                    class="form-control form-c-h-32 w-80 disp-inl-bl"
                    name="id"
                    placeholder="ID"
                    v-on:keyup.enter="query({name: 'id', value: $event.target.value})"
            >

            <button class="btn btn-default m-t-7" @click="print()">{{ lang('Print') }}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['statuses', 'tracklists', 'dict'],

        data () {
            return {
                //
            }
        },

        methods: {
            lang(key) {
                return this.dict[key];
            },

            query (param) {
                this.$emit('query', param);
            },

            print () {
                this.$emit('print');
            }
        }
    };
</script>

<style>
    .m-l-5 {
        margin-left: 5px;
    }
    .m-t--4 {
        margin-top: -4px;
    }
    .form-c-h-32 {
        height: 32px;
    }
    .w-135 {
        width: 135px;
    }
    .w-80 {
        width: 80px;
    }
    .disp-inl-bl {
        display: inline-block;
    }
    .m-t-7 {
        margin-top: 7px;
    }
</style>

