<template>
    <table class="table table-hover table-bordered" id="table">
        <tbody>
            <tr>
                <th class="text-center" style="width: 50px">ID</th>
                <th v-if="!printable">{{ lang('Client / Date Ready(Created)') }}</th>
                <th v-if="printable">{{ lang('Client') }}</th>
                <th>{{ lang('Address') }}</th>
                <th>{{ lang('Items') }}</th>
                <th v-if="!printable">{{ lang('Note') }}</th>
                <th width="150">{{ lang('Checkout') }}</th>
                <th v-if="!printable" width="130">{{ lang('Actions') }}</th>
            </tr>
            <tr v-for="order in orders" :key="order.id">
                <td class="text-center">
                    {{ order.id }}<br><br>
                    <span class="label label-info">{{ order.user.name }}</span><br><br>
                    <span class="label label-default">{{ lang(order.conversion_status_verbal) }}</span>
                </td>
                <td>
                    <div v-if="!printable">
                        <nobr><a :href="'/clients/edit/' + order.client.id">{{ order.client.first_name }} {{ order.client.last_name }}</a></nobr><br>
                        <div v-for="phone in order.client.phones" :key="phone.id">
                            <nobr>{{ phone.phone }}</nobr><br>
                        </div>
                        <hr>
                        {{ order.date_ready_verbal.date }} {{ lang(order.date_ready_verbal.month) }}, {{ lang(order.date_ready_verbal.day) }}<br>
                        {{ order.date_created_verbal.date }} {{ lang(order.date_created_verbal.month) }}, {{ lang(order.date_created_verbal.day) }}
                    </div>
                    <div v-if="printable">
                        {{ order.client.first_name }} {{ order.client.last_name }}<br>
                        <div v-for="phone in order.client.phones" :key="phone.id">
                            {{ phone.phone }}<br>
                        </div>
                    </div>
                </td>
                <td>
                    {{ order.address.address }}
                    <div v-if="!printable">
                        <hr>
                        <p v-if="order.delivery" class="small">{{ lang('Delivery') }}</p>
                        <p v-if="!order.delivery" class="small">{{ lang('Self-Deli') }}</p>
                        <p v-if="order.assembly" class="small">{{ lang('Assembly') }}</p>
                        <hr>
                        <div v-if="[5, 6].includes(order.status)">
                            <div class="row">
                                <div class="col-xs-9">
                                    <select class="form-control" @change="tracklist(order.id, $event)">
                                        <option value="" v-if="!order.tracklist">{{ lang('Select tracking list...') }}</option>
                                        <option
                                                v-if="order.tracklist"
                                                v-bind:value="order.tracklist.id"
                                        >{{ order.tracklist.date_track }} {{ order.tracklist.name }}</option>
                                        <option
                                                v-for="tracklist in tracklists"
                                                :key="tracklist.id"
                                                v-bind:value="tracklist.id"
                                        >{{ tracklist.date_track }} {{ tracklist.name }}</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <input
                                            class="form-control pull-right"
                                            type="number"
                                            v-bind:value="order.tracking_order"
                                            @change="tracklistOrder(order, $event)"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <table v-if="!printable" class="table table-bordered">
                        <tbody>
                            <tr v-for="item in order.items" :key="item.id">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td width="125" v-if="!printable">
                                    <select class="form-control" @change="itemStatus(item.id, $event, order.id)">
                                        <option v-bind:value="item.status">{{ lang(item.status_verbal) }}</option>
                                        <option v-for="(verbal, status) in statuses"
                                                v-if="item.status !== status"
                                                :key="status"
                                                v-bind:value="status"
                                        >{{ lang(verbal) }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div v-if="printable">
                        <div v-for="item in order.items" :key="item.id">
                            {{ item.name }}<br>
                            {{ lang('Desc') }}: {{ item.description }}
                            <hr>
                        </div>
                    </div>
                </td>
                <td v-if="!printable">{{ order.note }}</td>
                <td>
                    <table class="table internal">
                        <tbody>
                            <tr>
                                <td><nobr>{{ lang('Discount') }}: <span class="pull-right">{{ order.discount || 0 }}</span></nobr></td>
                            </tr>
                            <tr v-bind:class="{red: order.prepayment && !order.prepayment_status}">
                                <td><nobr>{{ lang('Prepayment') }}: <span class="pull-right">{{ order.prepayment || 0 }}</span></nobr></td>
                            </tr>
                            <tr>
                                <td><nobr>{{ lang('Delivery') }}: <span class="pull-right">{{ order.delivery || 0 }}</span></nobr></td>
                            </tr>
                            <tr>
                                <td><nobr>{{ lang('Total') }}: <span class="pull-right">{{ order.total }}</span></nobr></td>
                            </tr>
                            <tr>
                                <td><nobr><strong>{{ lang('Left to Pay') }}: <span class="pull-right">{{ order.total - order.prepayment }}</span></strong></nobr></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td v-if="!printable">
                    <a :href="'/orders/edit/' + order.id" class="btn btn-sm btn-default" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a :href="'/items?order_id=' + order.id" title="Items" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>

                    <button class="btn btn-sm btn-default" @click="deleteOrder(order.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <br><br>

                    <span class="label label-white label-fullwidth label-lg">{{ lang(order.status_verbal) }}</span>
                    <br><br>

                    <div v-if="order.prepayment && !order.prepayment_status">
                        <div class="text-center">
                            <button class="btn btn-default btn-sm" @click="orderPassed(order.id)">{{ lang('SET AS PASSED') }}</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: ['tracklists', 'statuses', 'printable', 'dict'],
        data() {
            return {
                orders: [],
                timeout: null,
            }
        },

        created() {
            let urlParams = new URLSearchParams(window.location.search);

            axios.get('orders/ax?data=true&' + urlParams.toString()).then(response => {
                this.orders = response.data.orders.data;
                this.orders.forEach(function (order) {
                    order.assembly = order.items.reduce((prev, cur) => prev + cur.assembly, 0);
                });

                this.$emit('set-data', response.data);
            });
        },

        methods: {
            lang(key) {
                return this.dict[key];
            },

            deleteOrder(id) {
                let uri = '/orders/ax/' + id;
                if (confirm('Are you sure?')) {
                    axios.delete(uri).then(response => {
                        this.orders.splice(this.orders.map(order => order.id).indexOf(id), 1);
                        this.$emit('alert', response.data.message);
                    }).catch(error => {
                        console.log(error);
                        alert(error);
                    });
                }
            },

            orderPassed(id) {
                let uri = '/orders/ax/passed/' + id;
                axios.post(uri).then(response => {
                    let i = this.orders.map(order => order.id).indexOf(id);
                    this.orders[i].prepayment_status = 1;
                    this.$emit('alert', response.data.message);
                }).catch(error => {
                    console.log(error);
                    alert(error);
                });
            },

            itemStatus(id, event, order_id) {
                let uri = '/items/ax/status/' + id;
                axios.post(uri, {'status':event.target.value}).then(response => {
                    let i = this.orders.map(order => order.id).indexOf(order_id);
                    this.orders[i].status = response.data.order_status;
                    this.orders[i].status_verbal = response.data.order_status_verbal;
                    this.orders[i].tracklist = response.data.order_tracklist;

                    this.$emit('alert', response.data.message);
                }).catch(error => {
                    console.log(error);
                    alert(error);
                });
            },

            query(param) {
                let urlParams = new URLSearchParams(window.location.search);
                urlParams.set(param.name, param.value);

                axios.get('/orders/ax?' + urlParams.toString()).then(response => {
                    this.orders = response.data.orders.data;
                    this.orders.forEach(function (order) {
                        order.assembly = order.items.reduce((prev, cur) => prev + cur.assembly, 0);
                    });

                    if (param.name !== 'page') {
                        urlParams.delete('page');
                    }

                    history.replaceState(null, null, location.pathname + '?' + urlParams.toString());
                    this.$emit('set-pagination', response.data.orders);
                }).catch(error => {
                    console.log(error);
                    alert(error);
                });
            },

            tracklist(order_id, event) {
                let uri = 'orders/ax/tracklist';
                axios.post(uri, {
                    'order': order_id,
                    'tracklist': event.target.value
                }).then(response => {
                    this.$emit('alert', response.data.message);
                }).catch(error => {
                    console.log(error);
                    alert(error);
                });
            },

            tracklistOrder(order, event) {
                clearTimeout(this.timeout);
                let _this = this;

                this.timeout = setTimeout(function () {
                    let uri = 'orders/ax/tracklist-order';
                    axios.post(uri, {
                        'order_id': order.id,
                        'tracking-order': event.target.value
                    }).then(response => {
//                        _this.query('tracklist', order.tracklist_id);
                        _this.$emit('alert', response.data.message);
                    }).catch(error => {
                        console.log(error);
                        alert(error);
                    });
                }, 1000);
            },
        }
    }
</script>

<style>
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>